@font-face {
    font-family: 'RobotoMono';
    src: url(../font/Roboto_Mono/static/RobotoMono-Bold.ttf);
    font-weight:bold;
    font-style: bold;
}
@font-face {
    font-family: 'Playwrite';
    src: url(../font/Playwrite_DE_Grund/static/PlaywriteDEGrund-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 16px
}

html, body {
    overflow-x: hidden; /* Oculta cualquier desbordamiento horizontal */
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
    z-index: 20;
}

/*HEADER SUPERIOR*/

.header_superior{
    max-width: 1200px;
    height: 80px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.4rem;
    font-style: bold;
    font-family: "RobotoMono";
}

/*BARRA MENU*/

.barra-navegacion{
    background-color: #E0F6FF;
    width: 100%;
    height: 70px;
    padding: 0px 20px;
    border-bottom: 1px solid #b2c5cc;
    font-family: "RobotoMono";
    
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
}

nav  ul  li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li:first-child > a{
    background-image: url(../assets/home.png);
    background-size: 34px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;    
}

nav > ul > li:first-child:hover > a{
    background-image: url(../assets/home.png);
    background-size: 44px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: black;
    text-transform: uppercase;
    font-size: 1rem;
    transition: all 300ms ease;
}

nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #1E96FF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#selected{
    transform: scale(1.1);
    background-color: #1E96FF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*SUBMENU*/

nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: #1E96FF;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

nav ul li ul li a:hover{
    background: #0084f8;
    color:#FFFFFF;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*CUERPO DE LA WEB*/


main{
    background: #f0f0f0;
    padding: 40px 20px;
    margin-top: 140px;
    font-family: Arial, Helvetica, sans-serif;
}

/*ARTICULOS*/
article{
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px 0;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 2px cornflowerblue;
}

article p{
    font-size: 18px;
    font-weight: 300;
}
article h3{
    font-size: 1.5rem;
    display: flex;
    margin-bottom: 0;
    text-align: start;
}


/*PRIMER ARTICULO*/

.presentacion{
    font-family: "Playwrite";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.presentacion h2{
    font-size: 2rem;
}

.presentacion  p{
    font-size: 1.5rem;
    display: flex;
    padding: 25px 15px;
    justify-content:baseline;
}

#haruSaludo{
    width: 320px;
    border-radius: 15px;
    border: 4px solid  rgb(255, 182, 186);;
}

/*VER MAS*/

#VerMas_SobreMi{
    color: #0084f8;
    font-family: "RobotoMono";
    font-size: 1.5rem;
}

#VerMas_SobreMi:hover{
    color: #0084f8;
    font-family: "RobotoMono";
    font-size: 1.5rem;
    transform: scale(1.1);
    transition: all 300ms ease;
}

#VerMas_SobreMi:hover #raya{
    padding-left: 15px;
    color: #0084f8;
    font-family: "RobotoMono";
    font-size: 1.5rem;
    transform: scale(1.1);
    transition: all 300ms ease;
}

/*SEPARADOR*/
#banner_recomendacion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    text-align: start;
    border-radius: 0;
    background-color: #58b1ff;
    font-family: "RobotoMono";
}
/*SEGUNDO ARTICULO*/

.Musica{
    display: flex;
    flex-direction: column;
    background: #0d518d;
    color: #FFFFFF;
    padding: 15px;
  
    font-family: "Playwrite";
    
}

.Musica p{
    margin-bottom: 15px;
    font-size: 25px;
}

#Ado{
    font-family: "RobotoMono";
    color: #58b1ff;
    font-size: 25px;
}


/*SIGNIFICADO DE UTAITE*/
.tooltip {
    position: relative;
    cursor: pointer;
    z-index: 10;
  }
  
.tooltip > .tooltip-text {
    visibility: hidden;
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px 8px;
    border-radius: 6px;
    font-size: 0.85em;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease;
}
  
.tooltip:hover > .tooltip-text {
    visibility: visible;
    opacity: 1;
    background-image: url(../assets/advertencia.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 35px;
    padding-left: 40px;
}

/*API DE SPOTIFY*/
.spotify{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spotify iframe {
    border-radius: 0;
    border: 4px solid  rgb(35, 112, 175);
}
  
/*PIE DE PAGINA*/

footer{
    background: #696969;
    color: #c4c1c1;
    font-family: "RobotoMono";
    font-size: 15PX;
    border-top: 1px solid black;
}

.footer_Superior{
    display: flex;
    flex-direction: row;
}
.footer_Superior > #marca{
    display: flex;
    height: 25px;
    width: 50%;
    background: #0084f8;
}

.footer_Superior > p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 45px;
    margin: 15px;
    height: 80px;
    width: 100%;
}

#copy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}
/*RESPONSIVE*/

@media (max-width: 768px){
    header{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: cornflowerblue;
        z-index: 20;
    }

    .header_superior{
        max-width: 1200px;
        height: 80px;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
        font-size: 1.4rem;
        font-style: bold;
        font-family: "RobotoMono";
    }
    
    /*BARRA MENU*/
    
    .barra-navegacion{
        background-color: #E0F6FF;
        width: 100%;
        height: 70px;
        padding: 0px 20px;
        border-bottom: 1px solid #b2c5cc;
        font-family: "RobotoMono";    
    }
    
    .menu{
        max-width: 1200px;
        margin: auto;
        height: 100%;
    }
}