@font-face {
    font-family: 'RobotoMono';
    src: url(/src/assets/font/Roboto_Mono/static/RobotoMono-Bold.ttf);
    font-weight:bold;
    font-style: bold;
}
@font-face {
    font-family: 'Playwrite';
    src: url(/src/assets/font/Playwrite_DE_Grund/static/PlaywriteDEGrund-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/*CUERPO DE LA WEB*/

main{
    background: #f0f0f0;
    padding: 40px 20px;
    margin-top: 140px;
    font-family: Arial, Helvetica, sans-serif;
}

/*ARTICULOS*/
article{
    max-width: 900px;
    margin: 5px auto;
    padding: 15px 0;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 2px cornflowerblue;
}

article p{
    font-size: 18px;
}

article h2{
    font-size: 1.5rem;
    display: flex;
    margin: 0;
    padding-bottom: 15px;
    text-align: start;
}


/*PRIMER ARTICULO*/

.presentacion{
    font-family: "Playwrite";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.presentacion h2{
    font-size: 1.4rem;
}

.presentacion  p{
    font-size: 1.2rem;
    display: flex;
    margin-top: 1px;
    padding: 0 25px;
    justify-content:baseline;
}

#haruSaludo{
    width: 220px;
    border-radius: 15px;
    border: 4px solid  rgb(255, 182, 186);;
    margin-bottom: 15px;
}

/*VER MAS*/

#VerMas_SobreMi{
    color: #0084f8;
    font-family: "RobotoMono";
    font-size: 1.2rem;
}

#VerMas_SobreMi:hover{
    color: #0084f8;
    font-family: "RobotoMono";
    font-size: 1.2rem;
    transform: scale(1.1);
    transition: all 300ms ease;
}

#VerMas_SobreMi:hover #raya{
    padding-left: 15px;
    color: #0084f8;
    font-family: "RobotoMono";
    font-size: 1.2rem;
    transform: scale(1.1);
    transition: all 300ms ease;
}

/*SEPARADOR*/
#banner_recomendacion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 15px 0 15px;
    text-align: start;
    border-radius: 0;
    background-color: #58b1ff;
    font-family: "RobotoMono";
}

#banner_recomendacion p{
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 4px 0;
    margin: 0;
    text-align: center;
}
/*SEGUNDO ARTICULO*/

.Musica{
    display: flex;
    flex-direction: column;
    background: #0d518d;
    color: #FFFFFF;
    padding: 15px;
    margin-bottom: 0;
    font-family: "Playwrite";
}

.Musica p{
    margin: 0;
    margin-bottom: 4px;
    margin-left: 23px;
    font-size: 1.2rem;
}

#Ado{
    font-family: "RobotoMono";
    color: #58b1ff;
    font-size: 1.4rem;
    padding-right: 4px;
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el texto */
}


/*SIGNIFICADO DE UTAITE*/
.tooltip {
  position: absolute;
  background: linear-gradient(135deg, #0d518d, #006dcc);
  color: #fff;
  border: 1px solid #003a6d;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  max-width: 300px;
  text-align: center;
  opacity: 0;
  transition: all 300ms ease;
  top: 139%; /* Posiciona el cuadro debajo del texto */
  left: 55.5%; /* Centra el cuadro horizontalmente */
  transform: translateX(-50%); /* Ajusta el centrado */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.tooltip::after {
  content: '';
  position: absolute;
  top: -20px; /* Posiciona la flecha justo encima del cuadro */
  left: 50%;
  transform: translateX(-60%);
  border-width: 10px;
  transition: all 300ms ease;
  border-style: solid;
  border-color: transparent transparent #0062b8 transparent; /* Flecha negra apuntando hacia arriba */
}

  /* Aplica la animación al mostrar el cuadro */
.tooltip.expanded {
  opacity: 1;
  animation: fadeInUp 0.3s ease-out; /* Duración y tipo de animación */
}

/* Define la animación */
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateX(-50%); /* Comienza más abajo */
    }
    100% {
      opacity: 1;
      transform: translateX(-50%); /* Termina en su posición original */
    }
}

/*API DE SPOTIFY*/
.spotify{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
}

.spotify iframe {
    border-radius: 0;
    border: 4px solid  rgb(35, 112, 175);
}

@media (max-width: 768px) {

    /*ARTICULOS*/

article p{
    font-size: 16px;
}
    
article h2{
    font-size: 1.2rem;
    display: flex;
    margin: 0;
    padding-bottom: 15px;
    text-align: start;
}

    /*PRIMER ARTICULO*/

.presentacion  p{
    font-size: 1rem;
    display: flex;
    margin-top: 1px;
    padding: 0 25px;
    justify-content:baseline;
}

/*VER MAS*/

#VerMas_SobreMi{
    color: #0084f8;
    font-family: "RobotoMono";
    font-size: 1rem;
}

#VerMas_SobreMi:hover{
    color: #0084f8;
    font-family: "RobotoMono";
    font-size: 1rem;
    transform: scale(1.1);
    transition: all 300ms ease;
}

#VerMas_SobreMi:hover #raya{
    padding-left: 15px;
    color: #0084f8;
    font-family: "RobotoMono";
    font-size: 1rem;
    transform: scale(1.1);
    transition: all 300ms ease;
}

/*BANNER RECOMENDACION*/

#banner_recomendacion p{
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 2px 0;
    margin: 0;
    text-align: center;
}

/*SEGUNDO ARTICULO*/

.Musica p{
    margin: 0;
    margin-bottom: 4px;
    margin-left: 23px;
    font-size: 1rem;
}

#Ado{
    font-family: "RobotoMono";
    color: #58b1ff;
    font-size: 1.2rem;
}

/*SIGNIFICADO DE UTAITE*/

.tooltip {
    position: absolute;
    background: linear-gradient(135deg, #0d518d, #006dcc);
    color: #fff;
    border: 1px solid #003a6d;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    max-width: 300px;
    text-align: center;
    opacity: 0;
    transition: all 300ms ease;
    top: 81.5%; /* Posiciona el cuadro debajo del texto */
    left: 59.9%; /* Centra el cuadro horizontalmente */
    transform: translateX(-50%); /* Ajusta el centrado */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
.tooltip::after {
    content: '';
    position: absolute;
    top: -20px; /* Posiciona la flecha justo encima del cuadro */
    left: 50%;
    transform: translateX(-60%);
    border-width: 10px;
    transition: all 300ms ease;
    border-style: solid;
    border-color: transparent transparent #0062b8 transparent; /* Flecha negra apuntando hacia arriba */
}
  
    /* Aplica la animación al mostrar el cuadro */
.tooltip.expanded {
    opacity: 1;
    animation: fadeInUp 0.3s ease-out; /* Duración y tipo de animación */
}
  
  /* Define la animación */

@keyframes fadeInUp {

0% {
    opacity: 0;
    transform: translateX(-50%); /* Comienza más abajo */
}

100% {
    opacity: 1;
    transform: translateX(-50%); /* Termina en su posición original */
    }
}

}